body {
    background-image: url('https://i.pinimg.com/originals/65/53/38/655338c996b7fc0b1c0a7e8df5c29c7d.jpg') ;
     background-repeat:no-repeat;
     background-size: cover;
     font-family: 'Mali',cursive;
     color :black
   }  
     .mainpage{width:1024px; margin:0 auto;}
      
     .headname1 {
         color: rgba(86, 230, 255, 0.986);
         font-size: 30px;
     }
     .headname2 {
         color: #FFFFFF; 
     }
     
     header
     {
       background-color: rgb(2, 0, 0);
       color: white;
       height: 120px;
       padding: 10px;
     }
     
     footer{
       background-color: rgb(14, 13, 13);
       color: white;
       height: 50px;
       padding: 10px;
       text-align: center;
     }
     
     .graphic{
      background: url("images/chantaburi-cover.jpeg");
      height: 320px;
      padding: auto;
     }
     
     .maps{
      border : 1px solid#ccc;
      height : 300px;
     }

     .top10{
      background-color: rgb(114, 193, 212);
      padding: 10px;
     }
     .topmenu ul{
      list-style: disc;
      margin: auto;
      display: flex;
      justify-content: left;
     }
     .img10{
      width: 190px;
      border-radius: 10px;
     }
     .topmenu{
      background-color: rgb(172, 172, 172);
      height: 40px;
     }
